body {
  font-family: 'Arial', sans-serif;
  background-color: #6984ac;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 600px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  text-align: center;
}

.task-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.task-form input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.task-form button {
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.task-form button:hover {
  background-color: green;
}

.task-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.task-item {
  display: flex;
  flex-direction: column;
  background: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
}

.task-item.completed {
  background: #d4edda;
  text-decoration: line-through;
}

.task-item h3 {
  margin: 0 0 5px;
}

.task-item p {
  margin: 0 0 10px;
  color: #666;
}

.task-item button {
  padding: 5px 10px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
}

.task-item button.edit {
  background-color: #ffc107;
  color: #fff;
}

.task-item button.edit:hover {
  background-color: #e0a800;
}

.task-item button.delete {
  background-color: #dc3545;
  color: #fff;
}

.task-item button.delete:hover {
  background-color: #c82333;
}

.task-item button.complete {
  background-color: #28a745;
  color: #fff;
}

.task-item button.complete:hover {
  background-color: #218838;
}

.task-item form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
